@model bool?

@{
    <div class="">
        <div>
            @Html.RadioButtonFor(model => model, "false", new {@class = ""})
            @Html.LabelFor(model => model, "Deny", new {@class = "", value="false"})
        </div>
        <div>
            @Html.RadioButtonFor(model => model, "true", new {@class = ""})
            @Html.LabelFor(model => model, "Approve", new {@class = "", value="true"})
        </div>
    </div>
}