@model bool?

@{
    <div class="">
        <div>
            @Html.RadioButtonFor(model => model, "false", new {@class = "", id = "falseRadio"})
            @Html.LabelFor(model => model, "Deny", new {@class = ""})
        </div>
        <div>
            @Html.RadioButtonFor(model => model, "true", new {@class = "", id = "trueRadio" })
            @Html.LabelFor(model => model, "Approve", new {@class = ""})
        </div>
    </div>
}