@model bool?

@{
    <div class="approve-deny-boolean-input-group">
            @Html.RadioButtonFor(model => model, "false", new {@class = "boolean-radio", id = "falseRadio"})
            <label for="falseRadio" class="boolean-radio-label">Deny</label>
            @Html.RadioButtonFor(model => model, "true", new {@class = "boolean-radio", id = "trueRadio" })
            <label for="trueRadio" class="boolean-radio-label">Approve</label>
    </div>
}