@model bool?

@{
    <div class="">
        <label class="">
            @Html.RadioButtonFor(model => model, "false", new {@class = ""})
            Deny
        </label>
        <label class="">
            @Html.RadioButtonFor(model => model, "true", new {@class = ""})
            Approve
        </label>
    </div>
}