@using ScreenTimeManager.DataModel.DataContexts
@using WebGrease.Css
@model ScreenTimeManager.Models.RuleBase

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <p class="modal-title" id="myModalLabel">Confirm Screen Time Change</p>
</div>
@using (Html.BeginForm("ChangeTime", "RuleBases", new { id = Model.Id }, FormMethod.Post, new { id="modalForm" }))
{
    <div class="modal-body">

        @Html.AntiForgeryToken()
        <p>@Model.RuleTitle</p>
        <p>@Model.RuleDescription</p>

    </div>
    <div class="modal-footer">
        <div class="button-container">
            <button class="cancel-apply" type="button" data-dismiss="modal">Cancel</button>
        </div>
        <div class="button-container">
            <button class="confirm-apply" type="submit" data-dismiss="modal">Submit</button>
        </div>
    </div>
}


