@using ScreenTimeManager.DataModel.DataContexts
@model ScreenTimeManager.Models.TotalScreenTimeChanged

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <p class="modal-title" id="myModalLabel">Confirm Screen Time Change</p>
</div>

<div class="modal-body">
    @using (var ctx = new ScreenTimeManagerContext())
        {
            <p>@ctx.Rules.Find(Model.RuleUsedId).RuleTitle</p>
            <p>@ctx.Rules.Find(Model.RuleUsedId).RuleDescription</p>
        }
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Time Earned
        </dt>

        <dd>
            @TimeSpan.FromSeconds(Model.SecondsAdded).ToString()
        </dd>
    </dl>
</div>
<div class="modal-footer">
    <div class="button-container">
        <button class="cancel-apply" data-dismiss="modal">Cancel</button>
    </div>
    <div class="button-container">
        <button class="confirm-apply" data-dismiss="modal">Confirm</button>
    </div>
</div>

