@using Microsoft.Web.Mvc
@using MvcContrib.UI.InputBuilder.Views
@using ScreenTimeManager.Models.Enums
@model ScreenTimeManager.Models.RuleBase

<div class="rule-container">
    <!-- rule title colors depends on the rule type -->
    <div class="rule-title">
        <input id="tab-@Model.Id" type="radio" name="tabs">

        <label for="tab-@Model.Id">
            @Model.RuleTitle
        </label>

        <div class="rule-content">
            <!-- rule-settings will be variable : dependent on the rule type -->
            <div class="rule-settings">
                @if (Model.RuleType.Equals(RuleType.Fixed))
                {
                    Html.RenderPartial("_FixedRuleInput", Model);
                }
                else
                {
                    Html.RenderPartial("_VariableRuleInput", Model);
                }
                
            </div>
            <div class="rule-apply-save">
                @Html.ActionLink("Apply", "Details", "RuleBases", new { id = Model.Id }, new { @class="btn-apply-rule", data_modal = "" })
                @*<button type="button" class="btn btn-success btn-sm  modal-link" data-targeturl="@Url.Action("Details","RuleBases",new { id = item.Id })">*@
                @*<button type="button" class="btn-apply-rule" id="apply-@Model.Id" data-targeturl="@Url.Action("Details", "RuleBases", new { id = Model.Id } )" data_modal="">
                    Apply
                </button>*@
            </div>
        </div>
    </div>
</div>