@using MvcContrib.UI.InputBuilder.Views
@model ScreenTimeManager.Models.RuleBase

@{
    Layout = null;
}

<!--For JS reference TODO: Find a better way to do this-->
<meta class="ratio-data" numerator="@Model.VariableRatioNumerator" denominator="@Model.VariableRatioDenominator"/>

<input type="number" id="hoursApplied" name="hoursApplied" value="00" min="0" max="23"/>
<label for="hoursApplied"> Number of hours spent on task (0 - 23)</label>
<br/>
<input type="number" id="minutesApplied" name="minutesApplied" value="00" min="0" max="59"/>
<label for="minutesApplied"> Number of minutes spent on task (0 - 59)</label>

<hr />

<p>On submitting, <strong><span id="pendingTime">0h 0m 0s</span></strong> will be charged to the timer</p>


