@using Microsoft.Web.Mvc
@using ScreenTimeManager.Enums
@using ScreenTimeManager.Helpers
@using ScreenTimeManager.Models
@model IEnumerable<ScreenTimeManager.Models.TotalScreenTimeChanged>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="time-history-page-nav" id ="begin-time-history-data">
    @Html.PagedDateActionLink(ViewBag.PreviousDate as TimeHistoryDate, "Index", "ScreenTimeHistory", DatePage.Previous)
    @Html.PagedDateActionLink(ViewBag.SelectedDate as TimeHistoryDate, "Index", "ScreenTimeHistory", DatePage.Selected)
    @Html.PagedDateActionLink(ViewBag.NextDate as TimeHistoryDate, "Index", "ScreenTimeHistory", DatePage.Next)
</div>

@if (Model == null)
{
    Html.Encode(@"Nothing to see here.");
}
else
{
    if (Model.Any(tstc => !tstc.IsDenied && tstc.IsFinalized))
    {
        Html.RenderPartial("_ApprovedTimeChanges", Model);
        <hr/>
    }

    if (Model.Any(tstc => tstc.IsDenied && tstc.IsFinalized))
    {
        Html.RenderPartial("_DeniedRequests", Model);
    }
}
