/**
 * index.scss
 * - Add any styles you want here!
 */
$button-font-size: 20px;
$main-content-background-color: #666666;
$title-background-color: #111111;
$header-background-color: #586eff;
$base-gray: #777777;
    
$rule-element-border-radius: 5px;


body
{
    background: #222222;
}

.body
{
    background: #222222;
    border-right: gray 3px solid;
    border-left: gray 3px solid;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

a.account-text
{
    font-size: 2em;
}

div.rule-apply
{
    height: 200px;
    width: 300px;
    background: $title-background-color;
}

div.account-bar
{
    display: flex;
    justify-content: space-around;
    background: $title-background-color;
    color: #777777;
    padding: 25px 0px 25px 0px;
    border-top: 3px gray solid;
    border-bottom: 3px gray solid;
}

div.title-bar
{
    display: flex;
    justify-content: space-around;
    background: $title-background-color;
    color: #777777;
    font-size: 7vw;
    padding: 25px 0px 25px 0px;
    border-top: 3px gray solid;
    border-bottom: 3px gray solid;
}

div.main-bar
{
    display: flex;
    flex-direction: column;
    background: #222222;
}

div.counter
{
    font-size: 40px;
    display: flex;
    flex: 0 0 100%;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0px 30px 0px;
}

div.toggle-timer
{
    display: flex;
    flex: 0 0 100%;
    justify-content: space-around;
    margin: 20px 0px 20px 0px;
}

.number-group
{
    display: flex;
    padding: 5px;
}

button.btn-counter
{
    border-radius: 5px;
    height: 70px;
    width: 60%;
    font-size: $button-font-size;
}

button.btn-start
{
    background: green;
    border-color: green;
    color: black;

    &:hover
    {
        background: lightgreen;
    }

    &:active
    {
        background: brown;
    }
}

button.btn-stop
{
    background: red;
    border-color: red;
    color: black;

    &:hover
    {
        background: pink;
    }


    &:active
    {
        background: brown;
    }
}

div.counter-button-group
{
    display: flex;
    flex-flow: column;
    padding: 5px;
}

p.time-number
{
    border: 1px solid black;
    background-color: lightgreen;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}

// navigation

.navigation-menu
{
    display: flex;
    flex: 0 0 100%;
    margin: 20px 0px 0px 0px;
}

a.nav-link
{
    text-decoration: none;
    background-color: darken($main-content-background-color, 10%);
    padding: 15px 0px 15px 10px;
    width: 100%;
    color: black;
    font-size: 20px;
    border: solid black 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0px;
}

a.nav-link-active
{
    text-decoration: none;
    background-color: $main-content-background-color;
    padding: 15px 0px 15px 10px;
    width: 100%;
    color: black;
    font-size: 20px;
    border: solid black 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0px;
    border-bottom: none;
}

// rule-container

div.main-content
{
    background-color: $main-content-background-color;
    padding: 15px 0px 15px 0px;
}

div.rule-container
{
    display: flex;
    flex: 0 1 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 2px 15px 2px 15px;
    padding-top: 0px;
    overflow: hidden;
    background: $main-content-background-color;
}

a.link1
{
    border-bottom: none;
}

div.rule-title
{
    width: 100%;
    color: black;

    & input
    {
        position: absolute;
        opacity: 0;
    }

    & label
    {
        position: relative;
        display: block;
        padding: 0 0 0 1em;
        background: $header-background-color;
        font-weight: bold;
        line-height: 3;
        cursor: pointer;

        &.add
        {
            background-color: mix($header-background-color, green, 80%);
        }

        &.subtract
        {
            background-color: mix($header-background-color, red, 80%);
        }
    }
}

// within .rule-content

div.rule-settings
{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    width: 100%;
    background-color: $title-background-color;
}

p.rule-detail
{
    color: white;
    margin: 5px 0px 5px 0px;
}

textarea.rule-variable-input
{
    margin: 5px 0px 5px 0px;
}

div.rule-apply-save
{
    width: 100%;
    background-color: #111111;
}

a.link-apply-rule
{
    height: 100%;
    width: 100%;
    color: black;
    text-decoration: none;
    background: green;
    border: green;
    display: block;
    text-align: center;
    line-height: 4;

    &:hover
    {
        background-color: lighten(green, 60%);
    }

    &:active
    {
        background-color: darken(green, 10%);
    }
}

// Accordion code based on: https://codepen.io/raubaca/pen/PZzpVe?editors=1100
.rule-content
{
    display: flex;
    flex: 0 0 100%;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 0px;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}

.btn-apply-rule
{
    &:hover
    {
        background: lightgreen;
    }

    &:active
    {
        background: brown;
    }
}

.btn-delete-rule
{
    &:hover
    {
        background: pink;
    }

    &:active
    {
        background: brown;
    }
}

/* :checked */
input:checked ~ .rule-content
{
    max-height: 5000px;
}

/* Icon */
.rule-title label::after
{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

input[type=checkbox] + label::after
{
    content: "+";
}

input[type=checkbox]:checked + label::after
{
    transform: rotate(315deg);
}

div.footer
{
    display: flex;
    flex: 0 0 100%;
    height: 200px;
    border: solid gray 1px;
    border-left: none;
    border-right: none;
    background: $title-background-color;
}

tr.history-add
{
    color: black;
    background-color: mix($base-gray, green, 60%);

    &:hover
    {
        background-color: lighten(mix($base-gray, green, 60%), 10%);
    }
}

tr.history-subtract
{
    color: black;
    background-color: mix($base-gray, red, 60%);

    &:hover
    {
        background-color: lighten(mix($base-gray, red, 60%), 10%);
    }
}

a.history-detail-link
{
    height: 100%;
    width: 100%;
    background-color: lightgray;
    text-decoration: none;
    color: black;
    border: solid black 1px;
    border-radius: 2px;
    margin: 0px;
    text-align: center;
    display: block;

    &:hover
    {
        background-color: white;
    }
}

a.rule-options-link
{
    height: 100%;
    width: 100%;
    background-color: lightgray;
    text-decoration: none;
    color: black;
    border: solid black 1px;
    border-radius: 2px;
    margin: 0px;
    text-align: center;
    display: inline-block;

    &:hover
    {
        background-color: white;
    }
}

a.delete
{
    background-color: pink;

    &:hover
    {
        background-color: darken(red, 20%);
    }
}

td.rule-options-table-cell
{
    display: flex;
    flex-direction: row;
    padding: 5px;
}

div.create-rule
{
    display: flex;
    flex-direction: row;
    margin: 5px;
}

a.link-create-rule
{
    height: 100%;
    width: 100%;
    color: black;
    text-decoration: none;
    background: $header-background-color;
    border: solid darken($header-background-color, 20%) 1px;
    border-radius: $rule-element-border-radius;
    display: block;
    text-align: center;
    line-height: 4;
    margin: 5px;

    &:hover
    {
        background-color: lighten($header-background-color, 10%);
    }

    &:active
    {
        background-color: darken($header-background-color, 10%);
    }
}

div.rule-table
{
    border: solid black 1px;
    border-radius: $rule-element-border-radius;
    overflow: hidden;
    margin: 5px;
}

h1.rule-table-header
{
    width: 100%;
    color: black;
    text-align-last: center;
    line-height: 2;
    font-size: 1.5em;
    align-items: center;
    border-bottom: none;
    background-color: $header-background-color;
}

table.rule-table
{
    width: 100%;
    table-layout: fixed;
    overflow: hidden;
}

th.rule-table
{
    width: 33%;
    background-color: $header-background-color;
    color: black;
    line-height: 1.5;
    padding: 2px;
}

tr.table-rule-entry
{
    background-color: $title-background-color;
    color: white;
    border-bottom: solid white 1px;
    line-height: 2;

    &:hover
    {
        background-color: lighten($title-background-color, 10%);
    }
}

// complete to scale items for mobile/desktop
@media screen and (min-width : 1080px)
{
    div.title-bar
    {
        font-size: 5vw;
    }

    div.counter
    {
        font-size: 70px;
    }

    .body
    {
        max-width: 1080px;
        margin: 0 auto;
    }
}
