.modal-content {
    background-color: #111111;
    border: gray 1px solid;
    color: #909090;
    font-family: "Roboto", serif;
    overflow: hidden;
    z-index: 5;
}

.modal-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 130%;
}

.modal-body { background-color: #222222; }

.modal-footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex: 0 0 100%;
    flex-direction: row;
    padding: 0px 0px 0px 0px;
}

.modal-footer div.button-container {
    color: #111111;
    flex: 1;
    height: 100%;
    width: 100%;
}

.modal-footer button {
    border: 0px solid;
    height: 70px;
    width: 100%;
}

.modal-footer button.confirm-apply { background-color: green; }

.modal-footer button.confirm-apply:hover { background-color: lightgreen; }

.modal-footer button.confirm-apply:active { background-color: brown; }

.modal-footer button.cancel-apply { background-color: red; }

.modal-footer button.cancel-apply:hover { background-color: pink; }

.modal-footer button.cancel-apply:active { background-color: brown; }

span.pendingTime { font-weight: bold; }

span.pendingTime-neutral { color: white; }

span.pendingTime-add { color: green; }

span.pendingTime-subtract { color: red; }

div.validation-message { padding-top: 2px; }

.validation-error-text {
    color: red;
    height: auto;
    margin: 10px 10px 10px 10px;
}

.description-text-area {
    height: 5em;
    width: 100%;
}