$modal-border-radius: 10px;

.modal-content
{
    background-color: #111111;
    border: gray 1px solid;
    font-family: "Roboto", serif;
    color: #909090;
    z-index: 5;
    overflow: hidden;
}

.modal-header
{
    font-size: 130%;
    border-top-left-radius: $modal-border-radius;
    border-top-right-radius: $modal-border-radius;
}

.modal-body
{
    background-color: #222222;
}

.modal-footer
{
    border-bottom-left-radius: $modal-border-radius;
    border-bottom-right-radius: $modal-border-radius;
    display: flex;
    flex: 0 0 100%;
    flex-direction: row;
    padding: 0px 0px 0px 0px;

    div.button-container
    {
        flex: 1;
        height: 100%;
        width: 100%;
        color: #111111;
    }

    button
    {
        width: 100%;
        height: 70px;
        border: 0px solid;
    }

    button.confirm-apply
    {
        background-color: green;

        &:hover
        {
            background-color: lightgreen;
        }

        &:active
        {
            background-color: brown;
        }
    }

    button.cancel-apply
    {
        background-color: red;

        &:hover
        {
            background-color: pink;
        }

        &:active
        {
            background-color: brown;
        }
    }
}

span.pendingTime
{
    font-weight: bold;
}

div.validation-message
{
    padding-top: 2px;
}

.validation-error-text
{
    color: red;
    margin: 10px 10px 10px 10px;
    height: auto;
}

.description-text-area
{
    width: 100%;
    height: 5em;
}
